<?php

/**
 * @school ENSITECH
 * @company H2V Solutions
 * @created_at 2023-11-20 09:50:50
 * @updated_by Rudy GAULT
 * @updated_at 2023-11-20 09:50:50
 */

 <!DOCTYPE html>
 <html lang="fr">
 <head>
     <meta charset="UTF-8">
     <title>Connexion</title>
 </head>
 <body>
     <form action="../models/login.php" method="post">
         <label for="email">Email:</label>
         <input type="email" id="email" name="email" required><br><br>
 
         <label for="password">Mot de passe:</label>
         <input type="password" id="password" name="password" required><br><br>
 
         <input type="submit" value="Connexion">
     </form>
     <br>
     <!-- Bouton pour aller à la page d'inscription -->
     <button onclick="location.href='register.html'">S'inscrire</button>
 </body>
 </html>
 