body {
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
    color: #333;
    margin: 20px;
}

h2 {
    color: #007bff;
}

form {
    max-width: 600px;
    margin: 0 auto;
    align-items: flex-start; /* Aligner les éléments flexibles sur le côté supérieur */
}

label {
    display: block;
    margin-bottom: 5px;
}

input, select, textarea {
    width: 100%;
    padding: 8px;
    margin-bottom: 10px;
    box-sizing: border-box;
}

/* Ajoutez une classe pour le conteneur de la case à cocher */

.medicament-item {
    margin-bottom: 15px;
    display: flex;
    align-items: center; /* Aligner les éléments verticalement au centre */
}

.checkbox-container {
    display: flex;
    align-items: center; /* This will vertically align the checkbox, label, and input */
    justify-content: flex-start; /* This will align the elements to the start of the container */
    gap: 10px; /* This creates space between the elements */
}

.quantity-label {
    white-space: nowrap; /* This prevents the label from breaking into multiple lines */
}


input[type="submit"] {
    margin-right: 10px; /* Ajoute un espace à droite du bouton de soumission */
}
